body{
    text-align: center;
    background-color: #edf756;
}

.btn{
    border: 10px solid black;
    width:200px;
    height:200px;
    border-radius: 20%;
    margin: 20px;
}

.outer-container{
    display: flex;
    justify-content: center;

}

.yellow{
    background-color:#f99b45 ;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0  ;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}